<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Удаление-пропусков" data-toc-modified-id="Удаление-пропусков-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Удаление пропусков</a></span></li><li><span><a href="#Обработка-аномальных-значений" data-toc-modified-id="Обработка-аномальных-значений-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Обработка аномальных значений</a></span></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Категоризация данных</a></span></li><li><span><a href="#Исследование-данных" data-toc-modified-id="Исследование-данных-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Исследование данных</a></span><ul class="toc-item"><li><span><a href="#Зависимость-между-количеством-детей-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-количеством-детей-и-возвратом-кредита-в-срок-1.6.1"><span class="toc-item-num">1.6.1&nbsp;&nbsp;</span>Зависимость между количеством детей и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок-1.6.2"><span class="toc-item-num">1.6.2&nbsp;&nbsp;</span>Зависимость между семейным положением и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок-1.6.3"><span class="toc-item-num">1.6.3&nbsp;&nbsp;</span>Зависимость между уровнем дохода и возвратом кредита в срок</a></span></li><li><span><a href="#Влияние-разных-целей-кредита-на-возврат-в-срок" data-toc-modified-id="Влияние-разных-целей-кредита-на-возврат-в-срок-1.6.4"><span class="toc-item-num">1.6.4&nbsp;&nbsp;</span>Влияние разных целей кредита на возврат в срок</a></span></li></ul></li></ul></li><li><span><a href="#Общий-вывод" data-toc-modified-id="Общий-вывод-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Общий вывод</a></span></li></ul></div>

# Описание проекта

**Заказчик** — кредитный отдел банка. Результаты исследования будут учтены при построении модели кредитного скоринга.

**Цель исследования** - разобраться, как следующие факторы влияют на возврат кредита в срок:

- наличие детей;
- семейное положение;
- размер ежемесячного дохода;
- цель кредита.

**Этапы исследования**

 1. Обзор данных.
 2. Предобработка данных.
 3. Исследование данных.

In [1]:
import pandas as pd

try:
     data = pd.read_csv(r"C:\Проекты Яндекс.Практикум\2. Предобработка данных. Надежность заемщиков\Датасет\data.csv")
except: 
    data = pd.read_csv('/datasets/data.csv')
# прочитайте csv-файл

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

**Вывод**

В таблице более 20 тысяч строк. Собраны данные о заемщиках: их  возраст, семейное положение, доход и прочее. О кредитах, которые они брали информации нет, только факт наличия или отсутвия задолженности.
В столбцах с трудовым стажем и ежемесячным доходом есть пропуски. 
В столбце с образованием одни и те же знания написаны в нижнем и верхнем регистре. 

На данном этапе объем информации выглядит достаточным для исследования.

## Предобработка данных

### Удаление пропусков

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

In [6]:
data['days_employed'] = data['days_employed'].abs()

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [14]:
data['education'] = data['education'].str.lower()

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

In [22]:
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

**Вывод:**

В процессе обработки данных была проведена следующая работа:
- Пропуски в трудовом стаже и ежемесячном доходе заполнены медианными значениями
- Цели кредита распределены по категориям
- Ежемесячный доход распределен по категориями
- Удалены аномальные значения в столбце с детьми
- Удалены дубликаты

Также были обнаружены аномальные значения трудового стажа у пенсионеров и безработных - оставлены без изменений, так как не понадобятся для исследования.

### Исследование данных

#### Зависимость между количеством детей и возвратом кредита в срок

**Предположим, что с ростом количества детей растет или уменьшается вероятность невозврата кредита в срок.**

**Посчитаем:**
- сколько человек в каждой категории
- сколько из них не вернуло кредит в срок
- отношение невернувших ко всем по каждой категории

In [23]:
data.groupby('children')['children'].count()

#сгруппируем людей по количеству детей и посчитаем сколько их

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

In [24]:
data.groupby('children')['debt'].sum()

#сгруппируем данные по количеству детей и посчитаем количество должников

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

In [25]:
data.groupby('children')['debt'].sum()  / data.groupby('children')['children'].count()

#посчитаем отношение невернувших кредит в срок ко всем внутри каждой категории

children
0    0.075438
1    0.092346
2    0.094542
3    0.081818
4    0.097561
5    0.000000
dtype: float64

In [26]:
data_pivot_children = data.pivot_table(index = 'children', values = 'debt', aggfunc = 'count' )
data_pivot_children['ratio'] = ((data.groupby('children')['debt'].sum()  / data.groupby('children')['children'].count())*100).map("{:,.2f}%".format)
data_pivot_children.sort_values(by= 'ratio')

           debt  ratio
children
5             9  0.00%
0         14091  7.54%
3           330  8.18%
1          4808  9.23%
2          2052  9.45%
4            41  9.76%

**Разделим заемщиков на более крупные группы и посчитаем соотношение должников в каждой:**
- без детей, среди них должников 7,5%
- с условно обычным количеством детей = 1 или 2 (вычислим)
- многодетных родителей = 3 и более (вычислим)

In [27]:
debt_1_2 = ((data[(data['children']==1)|(data['children']==2)] \
['debt'].sum() / data[(data['children']==1)|(data['children']==2)] \
['children'].count())*100)
debt_1_2
#посчитаем отношение должников ко всем заемщикам из категории родителей 1 и 2 детей

9.300291545189504

In [28]:
debt_3_4_5 = ((data[(data['children']==3)|(data['children']==4) | (data['children']==5) ] \
['debt'].sum() / data[(data['children']==3)|(data['children']==4) |(data['children']==5)]\
['children'].count())*100)                  
debt_3_4_5 
#посчитаем отношение должников ко всем заемщикам из категории родителей 3, 4 и 5 детей

8.157894736842106

In [30]:
debt_1_2_count = data[(data['children']==1)|(data['children']==2)] \
['debt'].count()
debt_3_4_5_count= data[(data['children']==3)|(data['children']==4) | (data['children']==5) ] \
['debt'].count() 
debt_0 = data[(data['children']==0)]['debt'].sum() / data[(data['children']==0)]['children'].count()*100
debt_0_count =  data[(data['children']==0)]['debt'].count()
debt = [debt_0 , debt_1_2, debt_3_4_5 ], [debt_0_count, debt_1_2_count, debt_3_4_5_count]
columns = ['children_0','children_1-2', 'children_3_+']

table_1= pd.DataFrame(debt, columns=columns)
table_1

     children_0  children_1-2  children_3_+
0      7.543822      9.300292      8.157895
1  14091.000000   6860.000000    380.000000

**Вывод:** очевидной закономерности между количеством детей и наличием задолженности по кредиту не прослеживается. 
Около 8% составляют должники среди тех, у кого нет детей и тех и у кого их трое.
Примерно от 9% до 10% должеников среди родителей 1,2 или 4 детей.
Выбиваются из данных родители 5 детей, у которых 0 невозвращенных кредитов, но таких людей 9 из 21331 и не ясно насколько можно доверять выводам. Возможно, по ним, требуется дополнительное исследование.

Если рассматривать категории замещиков по количеству детей более крупно, то видно, что люди без детей меньше всего не возвращают кредит в срок (должников 7,5%). Следующие в рейтинге - многодетные родители (дожников 8,2%). Больше всего должников среди родителей 1-2 детей (должников 9,3%)**

####  Зависимость между семейным положением и возвратом кредита в срок

**Посчитаем:**
- сколько человек в каждой категории
- сколько из них не вернуло кредит в срок
- отношение невернувших ко всем по каждой категории

In [31]:
data.groupby('family_status')['family_status'].count()
#посчитаем сколько человек внутри каждой категории

family_status
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
гражданский брак          4134
женат / замужем          12261
Name: family_status, dtype: int64

In [32]:
data.groupby('family_status')['debt'].sum()
#посчитаем сколько должников внутри каждой категории

family_status
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
гражданский брак         385
женат / замужем          927
Name: debt, dtype: int64

In [33]:
data.groupby('family_status')['debt'].sum()/data.groupby('family_status')['family_status'].count()
#посчитаем отношение должников ко всем внутри кажждой категории

family_status
Не женат / не замужем    0.097639
в разводе                0.070648
вдовец / вдова           0.066246
гражданский брак         0.093130
женат / замужем          0.075606
dtype: float64

In [34]:
data_pivot_famstat = data.pivot_table(index = 'family_status', values = 'debt', aggfunc = 'count' )
data_pivot_famstat['ratio'] = ((data.groupby('family_status')['debt'].sum()  / data.groupby('family_status')['family_status'].count())*100).map("{:,.2f}%".format)
data_pivot_famstat.sort_values(by= 'ratio')

                        debt  ratio
family_status
вдовец / вдова           951  6.62%
в разводе               1189  7.06%
женат / замужем        12261  7.56%
гражданский брак        4134  9.31%
Не женат / не замужем   2796  9.76%

In [35]:
debt_withot_couple = data[(data['family_status']=='Не женат / не замужем')|(data['family_status']=='в разводе') \
| (data['family_status']=='вдовец / вдова')]['debt'].sum() / data[(data['family_status']=='Не женат / не замужем')|(data['family_status']=='в разводе') \
| (data['family_status']=='вдовец / вдова')]['family_status'].count()
debt_withot_couple 
#посчитаем отношение должников среди всех людей без пары (то есть Не женат / не замужем и в разводе и вдовец / вдова)

0.08508914100486224

In [36]:
debt_with_couple = data[(data['family_status']=='гражданский брак')|(data['family_status']=='женат / замужем')] \
['debt'].sum() / data[(data['family_status']=='гражданский брак')|(data['family_status']=='женат / замужем')] \
['family_status'].count()                   
debt_with_couple 
#посчитаем отношение должников среди всех людей с парой (то есть гражданский брак и женат / замужем)

0.0800243976822202

**Вывод: Самый высокий процент должников = 9,8% среди людей со статусом "Не женат / не замужем", самый низкий = 6,6% среди людей со статусом "вдовец / вдова".** 
**Если сравнивать должников по семейному положению более крупно, разделив их на людей без пары и людей с парой, то процент должников будет почти одинаковый 8,5% и 8% соответственно.**

#### Зависимость между уровнем дохода и возвратом кредита в срок

**Предположим, что с ростом ежемесячного дохода растет или падает вероятность невозврата кредита в срок.**

**Посчитаем:**
- сколько человек в каждой категории
- сколько из них не вернуло кредит в срок
- отношение невернувших ко всем по каждой категории


- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [37]:
data.groupby('total_income_category')['total_income_category'].count()
#сгруппируем людей по уровню ежемесячного дохода и посчитаем их количество

total_income_category
A       25
B     5014
C    15921
D      349
E       22
Name: total_income_category, dtype: int64

In [38]:
data.groupby('total_income_category')['debt'].sum()
#сгруппируем людей по уровню ежемесячного дохода и посчитаем сколько из них имеет задолженность по кредиту

total_income_category
A       2
B     354
C    1353
D      21
E       2
Name: debt, dtype: int64

In [39]:
(data.groupby('total_income_category')['debt'].sum() / data.groupby('total_income_category')['total_income_category'].count())
#посчитаем отношение должников ко всем внутри каждой категории

total_income_category
A    0.080000
B    0.070602
C    0.084982
D    0.060172
E    0.090909
dtype: float64

In [40]:
data_pivot_income = data.pivot_table(index = 'total_income_category', values = 'debt', aggfunc = 'count' )
data_pivot_income['ratio'] = ((data.groupby('total_income_category')['debt'].sum()  / data.groupby('total_income_category')['total_income_category'].count())*100).map("{:,.2f}%".format)
data_pivot_income.sort_values(by = 'ratio')

                        debt  ratio
total_income_category
D                        349  6.02%
B                       5014  7.06%
A                         25  8.00%
C                      15921  8.50%
E                         22  9.09%

**Вывод: очевидной закономерности между ростом ежемесячного дохода и наличием задолженности по кредиту не прослеживается. Самый высокий процент должников среди людей с доходом до 30000 и составляет 9%, самый низкий процент должников среди следующей категории (от 30001 до 50000) и составляет 6%**

#### Влияние разных целей кредита на возврат в срок

**На данном этапе трудно предположить, как цели кредита влияют на его возврат. Изучим данные по стандартной схеме:**


**Посчитаем:**
- сколько человек в каждой категории
- сколько из них не вернуло кредит в срок
- отношение невернувших ко всем по каждой категории

In [41]:
data.groupby('purpose_category')['purpose_category'].count()
#посчитаем количество человек внутри каждой категории

purpose_category
операции с автомобилем       4279
операции с недвижимостью    10751
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64

In [42]:
data.groupby('purpose_category')['debt'].sum() 
#посчитаем количество должников внутри каждой категории

purpose_category
операции с автомобилем      400
операции с недвижимостью    780
получение образования       369
проведение свадьбы          183
Name: debt, dtype: int64

In [43]:
(data.groupby('purpose_category')['debt'].sum() / data.groupby('purpose_category')['purpose_category'].count())
#посчитаем количество должников ко всем внутри каждой категории

purpose_category
операции с автомобилем      0.093480
операции с недвижимостью    0.072551
получение образования       0.092528
проведение свадьбы          0.079118
dtype: float64

In [44]:
data_pivot_purpose = data.pivot_table(index = 'purpose_category', values = 'debt', aggfunc = 'count' )
data_pivot_purpose['ratio'] = ((data.groupby('purpose_category')['debt'].sum()  / data.groupby('purpose_category')['purpose_category'].count())*100).map("{:,.2f}%".format)
data_pivot_purpose.sort_values(by= 'ratio')

                           debt  ratio
purpose_category
операции с недвижимостью  10751  7.26%
проведение свадьбы         2313  7.91%
получение образования      3988  9.25%
операции с автомобилем     4279  9.35%

**Вывод:** Меньше всего должников среди покупателей недвижимости - 7,15% и будущих молодоженов - 7,92%. Больше всего должников среди покупателей автомобилей - 9,35% и тех, кто хочет потратить деньги на образование - 9,25%. Возможно, стоит также провести анализ по сумме. Так как, например, внутри категории "операции с автомобилями" может быть машина за 300 тысяч и за 6 миллионов 

Банки обязывают заемщика по автокредиту оплачивать не только ОСАГО, но и КАСКО, в связи с опасностью попадания а/м в ДТП или поломки. Выход автомобиля из строя может не только привести к большим дополнительным расходам, но и сказаться на получении дохода. Например, если машина покупалась для работы в такси и ее неработоспособность ведет к простою. Также ДТП может причинить вред здоровью, что тоже может сказаться на возможности работать  и получать доход. Вероятно, банки предлагают любым замещикам оплатить страхование жизни, но более требовательны в случае автокредита. Чтобы в случае смерти заемщика, на его поручителя не повесили кредит, а банк в свою очередь получил бы оплату в срок.

## Общий вывод

**Вывод:**

Изучена информация о платежеспособности заемщиков, предоставленная кредитным отделом банка.
Полученных данных достаточно для исследования.

Предобработка данных показала:
- Наличие дубликатов. Явные дубликаты удалены.
- Пропуски в данных. У части клиентов не были указаны ежемесячный доход и трудовой стаж. Заполнили медианными значениями. Эти графы стоит сделать обязательными для заполнения. Если клиенты не готовы указывать свой доход в точных цифрах, можно предложить выбрать категорию: например, от 50001 до 200000 руб. 
- Попадались аномальные значения. Удалены. В электонной форме анкеты в части граф можно сделать невозможным отрицательное значение.
- Разные регистр. Данные об образовании можно предложить выбирать из списка, а не заполнять от руки - это поможет избежать разного регистра и возможных опечаток.
- Добавлены дополнительные столбцы: категории дохода и категории целей кредита.

Исследование показало:

- отстутвие зависимости между количеством детей и возвратом кредита в срок. Около 8% составляют должники среди тех, у кого нет детей и тех, у кого их трое. Примерно от 9% до 10% среди родителей 1,2 или 4 детей. 0% должников среди родителей 5 детей (5 детей только у 9 человек из выборки).

- отстутвие зависимости между семейным положением и долгом по кредиту. Меньше всего задолженностей у холостых = 6,6%, больше у вдовцов = 9,8%. У самой многочисленная группы - людей в официальном браке должников примерно 7,6%

- по категориям ежемесячного дохода процент должников варьируется от 6% (доход: 30 001 руб. - 50 000 руб.) до 9% (доход: до 30 000 руб.). В самой многочисленной и средней по доходу группе (50 001 руб.– 200 000 руб.) наличие долга составляет 8,5%

- долгов по операциям с недвижимостью - 7,15%, кредитам на свадьбу - 7,92%, на образование - 9,25%, по операциям с автомобилем - 9,35%. Самый высокий процент по операциям с автомобилями может быть объясним их способностью ломаться и попадать в ДТП. 

В исследовании было несколько небольших групп. 
- родители  4 и 5 детей
- люди с доходом до 30 000 и более 1 000 000. 
Для обоснованных выводом по ним требуется дополнительное исследование.

Также рекомендуется провести исследование, включив в него данные о суммах и сроках кредитов.